{% load bootstrap5 %} <!-- or bootstrap5 -->
{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    {% bootstrap_css %}
</head>
<body>
<div class="container">
    <h1>Admin Dashboard</h1>
    {% if user.is_authenticated and user.is_superuser %}
      <p>You are logged in as admin: {{ user.username }}</p>
      {% for violation in violations %}
      <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">Name: {{ violation.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date of Incident: {{ violation.date_of_incident }}</h6>
          <p class="card-text">Description: {{ violation.description }}</p>
          {% if violation.photo %}
          <img src="{{ violation.photo.url }}" class="img-fluid" alt="Violation Photo">
          {% endif %}
        </div>
      </div>
      {% endfor %}
    {% else %}
       <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login With Google</a>
    {% endif %}
</div>
</body>
</html>