{% load socialaccount %}
<html>
<body>
<h1>Admin Dashboard</h1>
{% if user.is_authenticated and user.is_superuser %}
  <p>You are logged in as admin: {{ user.username }}</p>
  {% for violation in violations %}
  <p>Name: {{ violation.name }}</p>
  <p>Date of Incident: {{ violation.date_of_incident }}</p>
  <p>Description: {{ violation.description }}</p>
  {% if violation.photo %}
  <img src="{{ violation.photo.url }}" alt="Violation Photo" style="width: 200px; height: 200px;">
  {% endif %}
  {% endfor %}
{% else %}
   <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>
